body{
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 33%;
    margin: auto;
    width: 100vw;
}

#left{
    float: left;
    background-color: red;
    width: 33vw;
    height: 100vh;
}

#bottom-button{
    position: fixed;
    bottom: 0;
    width: 33vw;
    height: 4vh;
    font-size: 3vh;
}